.titleContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-bottom: 24px;
}

.title {
  margin-bottom: 24px;
}

.error {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 20px;
  border: 2px solid red;
  border-radius: 5px;
  color: black;
  font-size: 16px;
  font-weight: 600;
  max-width: 300px;
  margin: 20px auto;
  margin-top: 50px;
}

.row {
  cursor: pointer;
}

.rowWhite {
  background-color: white;
}

.rowGray {
  background-color: #fafafa;
}
