.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: var(--footer-height);
  background-color: black;
  color: white;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
}
